h1 {
    text-align: center;
}

#board {
    display: grid;
    grid-template-columns: repeat(3,auto);
    width: 300px;
}

.tiles {
    background-color: lightgreen;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

