.upper-bread {
    width: 50%;
    height: 200px;
    background-color: orange;
    border-radius: 50% 50% 5% 5%;
}

.lower-bread {
    width: 50%;
    height: 100px;
    background-color: orange;
    border-radius: 5% 5% 5% 5%;
}

.lettuce{
    width: 50%;
    height: 50px;
    background-color: greenyellow;
    border-radius: 5% 5% 5% 5%;
}

.tomatoes{
    width: 25%;
    height: 50px;
    background-color: red;
    border-radius: 10% 10% 10% 10%;
    display: inline-block;
}

.cheese{
    width: 50%;
    height: 50px;
    background-color: rgb(245, 245, 41);
    border-radius: 5% 5% 5% 5%;
}
